# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
.venv/

# Output video and generated data
*.mp4
*.avi
output_yolo/
output_json_yolo/

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
*.log

# JSON output files (optional, caso queira)
*.json

